<html>
  <body>
    <h1><%= categoryObj.name%></h1>
    <ul>
      <% categoryObj.recipes.forEach((recipe) => { %>
      <!-- <% recipeLink = recipe.label.replace(/ /g, "-").toLowerCase() %> -->

      <li><a href="/recipe/<%= recipe.index %>"><%=recipe.label %></a></li>
      <% });%>
    </ul>
  </body>
</html>